/.cask/
/var/
/projectile-bookmarks.eld
/recentf
/tramp
/games
/url
/session*
/backups
/eshell
/%backup%~
/bookmarks
/projectile.cache
/network-security.data
/ac-comphist.dat
/elpa
/emojis
/.cache/
/.lsp-session-v1
/.python-environments/
/eln-cache/
/elpy/
/emojis/
/transient/
/request/
/elpa*
/lisp/projectile-bookmarks.eld
/lisp/projectile.cache
/multisession/
/early-init.el
/auto-save-list/
/tree-sitter
/pomm
